h1 {
  font-size: 35x;
  text-align: center;
  color: darkblue;
  font-family: monospace;
}
img {
  align: center;
}
p {
  align: center;
  font-style: italic;
  font-family: monospace;
}
h2 {
  font-size: 30px;
  font-family: monospace;
}
ul{
  font-size: 26;
  font-family: monospace;
}