h1 {
  font-size: 45px;
  text-align: center;
  color: rgb(19, 22, 182);
  font-family: monospace;
  background-color: bisque;
}
img {
  width: 33%;
  float: left;
  background-color: bisque;
}
p {
  font-style: italic;
  font-family: monospace;
  font-size: 30px;
  background-color: bisque;
}
h2 {
  font-size: 40px;
  font-family: monospace;
  float: center;
  background-color: bisque;
}
ul{
  font-size: 35px;
  font-family: monospace;
  float: center;
  background-color: bisque;
}